@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';

.ov-cont {
 display: flex;
 flex-direction: column;
 row-gap: 10px;
 align-items: space-between;
}

.ov-cont-row {
 display: flex;
 flex-direction: row;
 column-gap: 10px;
 justify-content: space-between;
}

.ov-total-card {
 flex-grow: 1;
 flex-shrink: 1;
 display: flex;
 flex-direction: column;
 background-color: #fff;
 row-gap: 10px;
 border: 1px solid var(--primary-very-light-grey-color);
 box-sizing: border-box;
 box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.25);
 border-radius: 15px;
 padding: 10px 0;
 min-width: 30%;
}

.ov-total-card span{
 margin-left: 10px;
}

.tot-card-head {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 column-gap: 10px;
 align-items: center;
 padding: 0 10px;
}

.tot-card-head .card-icon {
 z-index: 5;
 height: 58px;
 width: 58px;
 padding: 10px;
 border: 1px solid var(--primary-very-light-grey-color);
 box-sizing: border-box;
 border-radius: 6px;
}

.tot-card-head .card-icon i {
 z-index: 10;
 font-size: 35px;
 display: flex;
 justify-content: center;
}
