@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';
@import './global_custom.css';

html {
    height: 100%
}

body {

    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*background-image: url("../img/login.jpg");*/
}

.hero-section {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.left {
    background-color: var(--primary-blue-color);
    /*background-color: var(--white-color);*/
    color: var(--white-color);
    float: left;
    /*height: 50px;*/
    /*width: 20%;*/
    /*overflow-x: hidden;*/
    margin-right: 25px;
    padding: 20px;
    border-radius: 12px;
    margin-top: 30px;
    align-content: center;
    flex: 1;
    height: 61px;
    width: 357.68182373046875px;
    left: 14.659088134765625px;
    /*top: 9px;*/
    /*border-radius: 12px;*/


}

a {
    text-decoration: none;
    color: var(--black-color);
}

.right {
    background-color: var(--primary-red-color);
    /*background-color: var(--white-color);*/
    color: var(--white-color);
    float: right;
    /*height: 50px;*/
    /*width: 20%;*/
    /*overflow-x: hidden;*/
    padding: 20px;
    margin-left: 25px;
    border-radius: 12px;
    margin-top: 30px;
    align-content: center;
    flex: 1;
    height: 61px;
    width: 330.8787841796875px;
    left: 13.56060791015625px;
    /*top: 9px;*/
    /*border-radius: 12px;*/


}

.right:hover, .left:hover {
    box-shadow: 0 0 8px rgba(122, 26, 93, 1.2);

}

h3 {
    /*color: var(--primary-purple-color);*/
    align-content: center;
}

.fa-customize {
    font-size: 75px;
}

.fa-color {
    color: var(--primary-purple-color);
}

.btn-cancel {
    margin-top: 30px;
    color: #f8f8f8;
    background-color: var(--primary-light-grey-color);
    width: 120px;
    height: 40px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    font-size: large;
}

.btn-cancel:hover {
    cursor: pointer;
}

/* .............................. */
@media screen and (max-width: 450px) {

    body {

        background-size: 100% 100%;
        background-repeat: no-repeat;
        /*background-image: url("../img/login.jpg");*/
    }

    .right {
        flex-grow: 1;
        flex-shrink: 1;
        width: 90%;
        cursor: pointer;
        text-align: center;
        border-radius: 15px;
        margin-left: 5px;
        padding: 2rem 2rem 4rem;
        /*margin-right: 100px;*/

    }

    .left {
        flex-grow: 1;
        flex-shrink: 1;
        width: 90%;
        cursor: pointer;
        text-align: center;
        border-radius: 15px;
        padding: 2rem 2rem 4rem;
        margin-right : 0px;
        /*margin-left: 100px;*/

    }

    .btn-cancel {
        /*margin-top: 250px;*/
        color: #f8f8f8;
        background-color: var(--primary-light-grey-color);
        width: 120px;
        height: 40px;
        align-content: center;
    }

    h3 {
        /*color: var(--primary-purple-color);*/
        align-content: center;
        font-size: 15px;
    }

    .hero-section {
        margin: 10px ;
    }

}