@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';

:root {
    --margin: calc((100vw - 1200px) / 2);
}

.header {
    background-image: url('../img/welfare_img/volunteers-group.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    justify-content: center;
    display: flex;
    margin: 0 calc(-1 * var(--margin));
    margin-left: calc(-1 * var(--margin));
    margin-right: calc(-1 * var(--margin));
}

.header-contents {
    justify-content: center;
    height: fit-content;
    margin: auto 0;
    width: 50vw;
}

.header-contents h1 {
    z-index: 2;
    /* margin-top: 1rem; */
    text-align: center;
    font-size: var(--heading1-size);
    color: var(--white-color);
    font-weight: bold;
}

.header-contents p {
    margin: 1.5rem 0;
    text-align: center;
}

.header-contents .action {
    display:flex;
    justify-content: center;
    margin-top: 3rem;
}

.prj-form h2 {
    margin: 2rem 0;
}

.prj-form .form-sec {
 width: 100%;
}

.prj-form .form-sec .invalidInput {
    padding-left: 0 !important;
}

#prj-cause {
    display: block;
}

#prj-details, #prj-vol, #prj-funds, #prj-bank {
    display: none;
}

.prj-form .form-sec h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.prj-form .form-sec .instr {
    margin: 2rem 0;
}

.prj-form .form-sec .inputBx2 {
    width: 40%;
    margin-top: 3rem;
}

.prj-form .form-sec .prj-form-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.prj-form .form-sec .vol-form {
    opacity: 1;
}

.prj-form .form-sec .vol-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.vol-inputs-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.vol-inputs-col .row-title {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.vol-inputs-col #work-days {
    margin-top: 3rem;
}

.vol-inputs-col #notes {
    margin: 0;
}

.vol-inputs-col-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.vol-inputs-col-row #date {
    width: 100%;
    margin: 0;
    flex-grow: 1;
}

.scrollable {
    max-height: 250px; 
    /* z-index: 200; */
    overflow-y: scroll; 
    /* pointer-events: auto; */
}

.vol-inputs-col-row .inputBx2 {
    width: 100%;
}

.widen {
    flex-grow: 1;
    margin-top: 4rem;
}

.vol-inputs-col-row .selectBx {
    /* margin-right: 2rem; */
    flex-grow: 1;
    width: auto;
}

.prj-form .form-sec #fund-form {
    display: block;
}

.prj-form .form-sec .fund-inputs {
    opacity: 1;
}

.prj-form .form-sec .fund-inputs-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.fund-inputs-bottom .fund-inputs-bottom-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.fund-inputs-bottom .fund-inputs-bottom-col .inputBx2 {
    width: 100%;
}

.fund-inputs-bottom-col .fund-inputs-bottom-col-row {
    display: flex;
    /* flex-grow: 1; */
    gap: 1rem;
    flex-direction: row;
}

.fund-inputs-bottom-col .fund-inputs-bottom-col-row #fund-date {
    width: 100%;
}

.prj-form .form-sec #acnt-form {
    display: block;
}

.prj-form .form-sec .bool label {
    margin: 0 2rem 0 .5rem;
    font-size: var(--normal-size);
    color: var(--primary-grey-color);
    cursor: pointer;
}

.bool .bool-actions a {
    width: 250px;
    margin-right: 1rem;
    padding: 8px 15px;
}

.prj-form .form-sec .acnt-inputs {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 4rem;
    padding-top: 3rem;
}

.acnt-inputs-col {
    display: flex;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    /* gap: 1rem; */
}

.acnt-inputs-col .inputBx2 {
    margin-top: 2rem !important;
}

.acnt-inputs-col #item {
    width: 100%;
}

.acnt-inputs #saved-account {
    opacity: 0.5;
}

.acnt-inputs #saved-account input[type="radio"] {
    pointer-events:none;
    cursor: not-allowed;
}

.acnt-inputs #saved-account label {
    cursor: not-allowed;
}

.acnt-inputs .acnt-card {
    cursor: not-allowed;
}

.acnt-inputs-col .save-acnt label{
    margin-left: 1rem;
}

.acnt-inputs-col .acnt-card {
    display: flex;
    margin: 1rem 30px;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--primary-light-grey-color);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px 16px 12px 16px;
    cursor: pointer;
    opacity: 1;
    width: auto;
    height: 70px;
    position: relative;
}

.bank-acnts {
    list-style-type: none;
}
  
.bank-acnts label,
.bank-acnts input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 70px;
}
  
.bank-acnts input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}
  
.bank-acnts input[type="radio"]:checked+label,
.Checked+label {
    border: 1px solid var(--primary-purple-color);
    border-radius: 10px;
}
  
.bank-acnts label {
    padding: 8px 16px 12px 16px;
    cursor: pointer;
    z-index: 90;
    width: auto;
    height: 70px;
    line-height: 20px;
}
  
.bank-acnts label:hover {
    box-shadow: -1px 0px 5px 4px #C4C4C4;
    border-radius: 10px;
}

/* =========== Styles for Mobile View ============= */

@media screen and (max-width: 360px) {
    
}
