@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
