@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';

.hero {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hero-banner {
    background-image: url('../img/black\ cat\ and\ woman_cropped.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    justify-content: center;
    display: flex;
}

.hero-banner-contents {
    justify-content: center;
}

.hero-banner-contents-icon {
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 50%;
    background-color: var(--white-color);
    height: 180px;
    width: 180px;
}

.hero-banner-contents-icon img {
    position: relative;
    width: 100px;
    top: 20%;
    left: 20%
}

.hero-banner-contents h1 {
    z-index: 2;
    margin-top: 1rem;
    text-align: center;
    font-size: var(--heading2-size);
    color: var(--white-color);
    font-weight: bold;
}

/* =========== Styles for Tablet View ============= */

@media screen and (max-width: 768px) {
    .hero-banner-contents-icon {
        justify-content: center;
        height: 100px;
        width: 100px;
    }
    
    .hero-banner-contents-icon img {
        position: relative;
        top: 10%;
        left: 10%;
        width: 75px;
    }
    
    .hero-banner-contents h1 {
        margin-top: 0.6rem;
        font-size: calc(var(--heading2-size) - 10);
    }
}

/* =========== Styles for Mobile View ============= */

@media screen and (max-width: 360px) {
    .hero-banner-contents-icon {
        justify-content: center;
        margin-top: 0.5rem;
        padding: 5px;
        height: 60px;
        width: 60px;
    }
    
    .hero-banner-contents-icon img {
        position: relative;
        top: 10%;
        left: 10%;
        width: 40px;
    }
    
    .hero-banner-contents h1 {
        margin-top: 0.6rem;
        font-size: calc(var(--heading2-size) - 20px);
    }
}