@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';

.hero {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hero-banner {
    background-image: url('../img/black\ cat\ and\ woman_cropped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
}

.hero-banner-contents {
    justify-content: center;
    height:fit-content;
}

.hero-banner-contents-icon {
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 50%;
    background-color: var(--white-color);
    height: 180px;
    width: 180px;
}

.hero-banner-contents-icon img {
    position: relative;
    width: 100px;
    top: 20%;
    left: 20%
}

.hero-banner-contents h1 {
    z-index: 2;
    margin-top: 1rem;
    text-align: center;
    font-size: var(--heading2-size);
    color: var(--white-color);
    font-weight: bold;
}

.search-sec {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 5rem;
}

.search-sec-bar i {
    color: var(--black-color);
    float: right;
    align-self: center;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

.search-sec-bar input {
    border: none;
    outline: none;
    width: 250px;
    background: none;
    color: var(--primary-grey-color);
    font-size: var(--normal-size);
}

.search-sec-bar {
    display: flex; 
    align-content: center; 
    text-align: start;
    background-color: var(--primary-very-light-grey-color);
    border-radius: 20px;
    height: 40px;
    width: 300px;
    padding: 0 1rem;
    margin-top: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    padding: 2rem 0;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.hero-cards-single {
    flex-grow: 1;
    flex-shrink: 1;
    width: 200px;
    cursor: pointer;
    text-align: center;
    color: var(--primary-purple-color);
    border-radius: 15px;
    padding: 2rem 2rem;
    padding-bottom: 3rem;
    box-shadow: 0px 7px 6px 3px rgba(0, 0, 0, 0.4);
}

.hero-cards-single:hover {
    /* border: 2px solid var(--primary-purple-color); */
    box-shadow: 0 0 8px rgba(122, 26, 93, 1.2);
}

.hero-cards-single h2 {
    margin-bottom: 1rem;
}

.hero-cards-single i {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.hero-cards-single p {
    font-size: var(--normal-size);
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.hero-cards-single-btn {
    padding: 12px 26px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--primary-yellow-color);
    color: var(--white-color);
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* =========== Styles for Tablet View ============= */

@media screen and (max-width: 768px) {
    .hero-banner {
        height: auto;
    }
    
    .hero-banner-contents-icon {
        justify-content: center;
        height: 100px;
        width: 100px;
    }
    
    .hero-banner-contents-icon img {
        position: relative;
        top: 10%;
        left: 10%;
        width: 75px;
    }
    
    .hero-banner-contents h1 {
        margin-top: 0.6rem;
        font-size: calc(var(--heading2-size) - 10);
    }
}

/* =========== Styles for Mobile View ============= */

@media screen and (max-width: 360px) {
    .hero {
        margin-top: 1.5rem;
    }

    .search-sec-bar {
        width: 250px;
    }

    .search-sec-bar input {
        width: 200px;
    }
    
    .hero-banner-contents-icon {
        justify-content: center;
        margin-top: 0.5rem;
        padding: 5px;
        height: 60px;
        width: 60px;
    }
    
    .hero-banner-contents-icon img {
        position: relative;
        top: 10%;
        left: 10%;
        width: 40px;
    }
    
    .hero-banner-contents h1 {
        margin-top: 0.6rem;
        font-size: calc(var(--heading2-size) - 20px);
    }

    .hero-cards-single {
        flex-grow: 1;
        flex-shrink: 1;
        width: 200px;
        cursor: pointer;
        text-align: center;
        color: var(--primary-purple-color);
        border-radius: 15px;
        padding: 2rem 2rem;
        padding-bottom: 3rem;
        margin: 1rem calc(10vw/4);
        box-shadow: 0px 7px 6px 3px rgba(0, 0, 0, 0.4);
    }
}
