@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';

body {
    background-repeat: no-repeat;
}
.animalReportSection {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.container1 {
    box-sizing: unset;
    position: relative;
    padding: 20px;
    width:40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}

.container1 img {
    width: 166px;
    height: 166px;
    border-radius: 50%;

}
.container1 h2 {
    margin-bottom: 30px;
}

.container1 h3 {
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.container1 button {
    background: var(--primary-purple-color);
    color: var(--white-color);
    height: 40.900001525878906px;
    width: 170.19696044921875px;
    left: 8.901611328125px;
    top: 8.099998474121094px;
    border-radius: 12px;
    padding: 8px 10px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 1.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 50px 10px;
}

.container1 .stats {
    display: flex;
    justify-content: space-between;
}

.container1Card {
    height: 168px;
    width: 45%;
    position: relative;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
    align-items: center;
}

.container1Card h2 {
    color: #555454;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    margin-bottom: 0px;
}

.container1Card description {
    margin-bottom: 20px;
    color: #555454;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

.container1 .reportButton {
    width: 100%;
    justify-content: left;
}
.container1 text {
    margin-bottom: 30px;
    color: #555454;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.container1 hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 265px;
    left: 100px;
    top: 650px;
    /* Very light grey */
    border: 1px solid #C4C4C4;
}

.container1Bot {
    margin-top: 15px;
    align-items: flex-start;
}
.container1Bot .date {
    align-items: flex-end;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
.container1Bot span {
    align-items: flex-start;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}
.container1Bot a {
    align-items: flex-start;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 25px;
    cursor:pointer;
}

.container2 {
    box-sizing: unset;
    position: relative;
    padding: 25px;
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: #C4C4C4;
    border: 1px solid #C4C4C4;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.container2 h2 {
    font-weight: normal;
    /*font-size: 20px;*/
    line-height: 23px;
    color: #555454;
}
.container2 hr {
    border: 1px solid #C4C4C4;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.container2 .profileBody text {
    font-style: normal;
    font-weight: bold;
    color: #555454;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}
.container2 .profileBody {
    margin-top: 40px;
}
.container2 .profileBody span {
    font-style: normal;
    font-weight: normal;
    color: #555454;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}
.container2 .inputs {
    margin-bottom: 20px;
}
.container2 a {
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
}
.container2 .infoUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit{
    display: none;
    flex-direction: column;
}

.container2 .editUpper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit_info_label{
    font-style: normal;
    font-weight: bold;
    color: #555454;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.field{
    margin-bottom: 20px;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container2 .field input {
    margin-left: auto;
}

.account_info{
    margin: 50px 30px 30px 30px;
}

#account_email{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

#account_id{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.account_status{
    margin-top: 30px;
    font-size: 15px;
}

.container2Card {
    position: relative;
    padding: 25px;
    width: 100%;
    /*display: flex;*/
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #C4C4C4;
    box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-top: 20px;
}

/*.reportVerticalCard {*/
/*    width: 100%;*/
/*}*/


/*.reportVerticalCard hr {*/
/*    width: 100%;*/
/*}*/

.cardBody{
    display: flex;
    flex-direction: row;
}
.cardBodyInner{
    width: 75%;
}
.cardBodyInner span{
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 75%;
}

.cardBodyInner1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardBodyImage{
    width: 25%;
}
.cardBodyImage img {
    width: 100%;
    padding: 10px;
    height: auto;
    border-radius: 20px;
}

.paddingBot {
    padding-bottom: 0.55rem;
}

.paddingRight {
    padding-right: 5px;
}

/* =========== Styles for Tablet View ============= */

@media screen and (max-width: 768px) {
    .animalReportSection {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container1 {
        width: auto;
    }
    .container2 {
        width: auto;
    }
}

/* =========== Styles for Mobile View ============= */

@media screen and (max-width: 360px) {
    .animalReportSection {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .container1 {
        width: auto;
    }
    .container2 {
        width: auto;
    }
}
