@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';
@import './global_custom.css';

body{
    background-image: url('../img/login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 3em;
    background: var(--primary-purple-color);
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
    stroke: var(--primary-purple-color);
    stroke-width: "2";
}

li::before {
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: white;
    z-index: -1;
    stroke: var(--primary-purple-color);
    stroke-width: "2";
}

.center {

    background-color: rgb(243, 221, 238);
    opacity: 0.7;

    height: 80%;
    width: 60%;

    overflow-x: hidden;
    padding-top: 40px;

    border-radius: 15px;
    margin-top: 25px;
}



li:first-child::before {
    display: none;
}

.active {
    background: var(--primary-purple-color);

}


.active~li {
    background: rgb(233, 168, 200);

}

.active~li::before {
    background: var(--primary-purple-color);

}

.left {
    position: relative;
    float: left;
    padding-left: 30px;
}

.right {
    float: right;
    padding-right: 70px;
    width: 450px;
}

.documents {
    padding-top: 700px;
    padding-left: 87px;
    padding-right: 87px;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
}

.form h2 {
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    margin-bottom: 30px;
}

img {
    width: 32px;
}

.form .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 25px;
}

.form .inputBx input {
    width: 80%;
    outline: none;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 10px;
    padding-left: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.form .inputBx img {
    position: absolute;
    left: 8px;
    transform: scale(0.6);
    
}

.form .selectBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-left: 25px;
}

.form .selectBx select {
    width: 80%;
    outline: none;
    border: none;
    border: 2px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.2);
    padding: 8px 10px;
    padding-left: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.label {
    float: left;
    padding-left: 55px;
    padding-bottom: 5px;
}

.checkbox{
    border:2px dotted #00f;
    display:block;
    background:#ff0000;
    float: left;
}

input.checkbox {
    width: 40px;
    height: 40px;
}

.btn-cancel {
    margin-top: 50px;
    color: white;
    background-color: rgb(80, 78, 78);
    width: 120px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    float: left;
}

.btn-request {
    margin-top: 50px;
    color: white;
    background-color: var(--primary-purple-color);
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 11px;
    float: right;
}

.error{
    color: red;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px;  */
    left: 0;
    top: 0;
    height: 80%;
    width: 60%;
    overflow-y: hidden;
    overflow-x: hidden;
    /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);  */
    float: right;
    margin-left: 300px;
  }

  .modal-content {
    padding: 50;
    border: 1px solid #888;

    background-color: rgb(255, 255, 255);
    opacity: 1;
    height: 80%;
    width: 60%;
     position: center;
   overflow-x: hidden;
   overflow-y: hidden;

    border-radius: 25px;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  

  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0.1} 
    to {top:50; opacity:0.1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0.1}
    to {top:50; opacity:0.1}
  }
  
  
  .modal_center{ 
    background-color: rgb(252, 252, 252);
    opacity: 0.8;
    height: 80%;
    width: 80%;
     position: center;
   overflow-x: hidden;
   overflow-y: hidden;
   margin-top: 25px;
    border-radius: 25px;
  
 }
  h2{ color: var(--primary-purple-color);

  } 
  .back_btn{
      background-color:var(--primary-purple-color);
      font-weight: bolder;
      width: 200px;
      height: 45px;
      border-radius: 10px;
      color: mintcream;
      border: var(--primary-purple-color);
  }

  


