@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';
@import './global_custom.css';

      
/* .box {
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  height: 650px;
  width: 70%;
  position: center;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 15%;
  border: 2px solid black ;
} */



  .column {
    width: 45%;
    margin-left: 20px;
  }

  .row:after {
    content: "";
    clear: both;
  
  } 
  .column2{
    float: right;
    width: 40%;

  }

  .column1{
    float: left;
    width: 40%;
    margin-left: 30px;
  }
  .row1:after {
    content: "";
    clear: both;

  } 

  

