@import '../variables/font_sizes.css';
@import '../variables/colors.css';
@import '../variables/screen_sizes.css';

.body1 h2 {
    margin-top: 3rem;
}

.rp-header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.rp-header h3 {
    text-align: center;
}

.rp-header-img {
    width: 100px;
    height: 100px;
    margin: 0.5rem 0;
}

.rp-bottom {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.rp-label {
    display: flex;
    color: var(--primary-grey-color);
    font-size: var(--normal-size);
    justify-content: center;
}

.rp-label a {
    text-decoration: none;
    color: var(--primary-purple-color)
}

.rp-label a:hover{
    text-decoration: underline;
}

/* ----------------------- Verify OTP --------------------------- */

.base-timer {
    position: relative;
    width: 150px;
    height: 150px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: var(--primary-purple-color);
}

.base-timer__path-remaining.orange {
    color: var(--primary-yellow-color);
}

.base-timer__path-remaining.red {
    color: var(--primary-red-color);
}

.base-timer__label {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

/* OT Input */

.passcode-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin: 2rem auto;
}

.passcode-wrapper input {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 10px;
    text-align: center;
    border: 1px solid var(--primary-grey-color);
    border-radius: 5px;
}

.passcode-wrapper input:last-child {
    margin-right: 0;
}::-webkit-inner-spin-button, 
::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}:focus,
.focus {
    border-color: var(--primary-purple-color);
    outline: none;
    box-shadow: none;
}

