@import './variables/font_sizes.css';
@import './variables/colors.css';
@import './variables/screen_sizes.css';

li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 3em;
    background: var(--primary-purple-color);
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
    stroke: #9F2884;
    stroke-width: "2";
  }
  
  li::before{
    content: '';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: white;
    z-index: -1;
    stroke: #9F2884;
    stroke-width: "2";
  }
  
  
  li:first-child::before {
    display: none;
  }
  
  .active {
    background: #9F2884;
 
  }
  
  
  .active ~ li {
    background: rgb(233, 168, 200);
    
  }
  
  .active ~ li::before {
    background: #9F2884;
    
  }

   .left {
    
      background-color: rgb(243, 221, 238);
      opacity: 0.7;
      float: left;
      height: 35%;
      width: 25%;
     overflow-x: hidden;
      padding-top: 20px;
      margin-left: 230px;
      border-radius: 30px;
      margin-top: 25px;
   }

   .right {
    /* right: 40%; */
    background-color: rgb(243, 221, 238);
    opacity: 0.7;
    float: right;
    height: 50%;
    width: 25%;
   overflow-x: hidden;
    padding-top: 20px;
    margin-right: 230px;
    border-radius: 30px;
    margin-top: 25px;
 }

  .btn-cancel{
   margin-top: 300px;
   color: #9F2884;
   background-color: slategrey;
   width: 120px;
   height: 40px;
   font-weight: bolder;
   border-radius: 10px;
   border: #9F2884;
  }