@import '../variables/font_sizes.css';
@import '../variables/colors.css';
@import '../variables/screen_sizes.css';

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--primary-purple-color);
  justify-content: space-between;
  align-items: flex-start;
  color: var(--white-color);
  line-height: 20px;
  letter-spacing: 1px;
  min-height: 380px;
  column-gap: 5rem;
}

.footer-col {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  margin: 80px 0;
  flex-direction: column;
  align-items: space-between;
  row-gap: 30px;
  max-width: 200px;
}

.foot-field {
  min-width: 280px;
}

.foot-sm-icons{
  display: flex;
  flex-direction: row;
  column-gap:10px;
  justify-content: flex-start;
}

.foot-sm-icons img{
  width: 60px;
  height: auto;
}

.foot-sm-icons img:hover {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.25));
}

.foot-field a{
  text-decoration: none;
  color: var(--white-color)
}

.foot-field a:hover {
  text-decoration: underline;
}
