@import '../variables/font_sizes.css';
@import '../variables/colors.css';
@import '../variables/screen_sizes.css';

.nav-logo, .nav-menu, .nav-menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc((100vw - 1200px) / 2);
    z-index: 10;
    position: relative;
}

.nav-logo img {
    cursor: pointer;
    width: 100px;
    margin-top: 24px;
    display: flex;
}

.nav-bars {
    text-decoration: none;
    position: relative;
    padding: 1rem;
    opacity: 0;
}

.nav-right{
    text-align-last: right;
    font-weight: 600;
    width:100%;
}

.nav-menu-top {
    padding: 0.8rem 1rem;
    align-items: right;
    justify-content: end;
    position: relative;
}

.notify {
    transform: rotate(45deg);
    display: inline-block
}

.nav-menu-main {
    padding: 1rem 1rem;
    list-style: none;
    width: 100%;
}

.nav-menu-main-links {
    color: var(--primary-grey-color);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 30px;
}:hover {
    color: var(--primary-purple-color);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dropdown-arrow {
    padding-left: 5px;
}

.nav-menu-signup-btn {
    padding: 12px 24px;
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--primary-purple-color);
    margin-left: 16px;
    color: var(--white-color);
}#button1 {
    display: none;
}

/* =========== Styles for Tablet View ============= */

@media screen and (max-width: 768px) {
    .nav-menu-top #button1 {
        display: block; 
        position: absolute;
        padding: 8px 16px;
        top: 38px;
        right: 100px;
    }

    .nav-menu-signup-btn #button2 {
        display: none;
    }

    .nav-bars {
        color: var(--primary-grey-color);
        opacity: 1;
        float: right;
        position: absolute;
        top: 22px;
        right: 20px;
        right: 20px;
        font-size: 2rem;
    }

    .nav-menu-main a {display: none;}
    .nav-menu-main a.icon {
        float: right;
        display: block;
        transition: none;
    }

    .nav-menu-signup-btn {
        display: none;
    }

    .nav-menu-main.resposive {
        padding-top: 2rem;
        position: relative;
    }

    .nav-menu-main.responsive a:first-child{
        margin-top: 1.3rem;
    }

    .nav-menu-main.responsive a:not(:last-child) {
        float: none;
        display: block;
        text-align: left;
        padding-right: 1rem;
    }
}


