:root {
    --primary-purple-color: #9F2884;
    --primary-yellow-color: #EEC93D;
    --primary-blue-color: #1D67BE;
    --primary-grey-color: #555454;
    --primary-light-grey-color: #6C6666;
    --primary-very-light-grey-color: #C4C4C4;
    --white-color: #f7f7f7;
    --black-color: #000000;
    --primary-green-color: #5CB85C;
    --primary-red-color: #D9534F;
}